################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Space/SFML-2.5.1
/Space/out/build/x64-Debug
/Space/.vs/VSWorkspaceState.json
/Space/.vs/Space/v16/ipch/AutoPCH/e35538731b5b3c65/MAIN.ipch
/Space/.vs/Space/v16/ipch/AutoPCH/e35538731b5b3c65
/Space/.vs/Space/v16/ipch/AutoPCH/996d188eeab02736/SPACE.ipch
/Space/.vs/Space/v16/ipch/AutoPCH/996d188eeab02736
/Space/.vs/Space/v16/ipch/AutoPCH
/Space/.vs/Space/v16/Browse.VC.db
/Space/.vs/Space/v16/.suo
/Space/.vs/Space/v16
/Space/.vs/slnx.sqlite
/Space/.vs/ProjectSettings.json
/Space/.vs
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Learn/v16/Browse.VC.opendb
/.vs/Learn/v16/Browse.VC.db
/.vs/Learn/v16/.suo
/.vs/Learn/v16
/.vs
/Space/CMakeSettings.json
/Space/out/build/x64-Release
