## Windows

.vs
build/out/build/x64-Debug/.cmake
build/out/build/x64-Debug/CMakeFiles
build/out/build/x64-Debug/Testing
build/out/build/x64-Debug/.ninja_deps
build/out/build/x64-Debug/.ninja_log
build/out/build/x64-Debug/buil.ninja
build/out/build/x64-Debug/cmake_install.cmake
build/out/build/x64-Debug/CMakeCache.txt
build/out/build/x64-Debug/Game.exe
build/out/build/x64-Debug/Game.ilk
build/out/build/x64-Debug/Game.pdb
build/out/build/x64-Debug/rules.ninja
build/out/build/x64-Debug/VSInheritEnvironments.txt


## Linux